html {
	background-color: #191919;
	font-family: Helvetica;
	color: #FFFFFF;
}

input,select,button {
	background-color: #3DC6F4;	
}

section#banner{
	background-color:#004A62;
	color: #FFFFFF;
	text-align:center;
	height:40px;
	font-size: 30px;
	padding: 14px 15px 6px 15px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #191919;	
}

section#trip-banner{
  text-align:center;
  height:30px;
  font-size: 25px;
  padding: 7px 15px 3px 15px;
  background-color: #00ACE9;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #191919;
  color: #FFFFFF;

}

section#text {
	margin: 0px auto;
	background-color: #007297;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #191919;
}

section#error {
	margin: 0px auto;
	background-color: #00ACE9;
	color: #191919;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #191919;	
}

section#left{
  width: 79%;
  float: left;

}

section#right{
  float: right;
  width: 20.5%;
}

/* Start Form CSS */
form#centered, fieldset, legend {
	border: 0;
	margin: 0px auto;
	padding: 0;
}

fieldset {
	background-color: #00ACE9;
	color:#191919;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #191919;
}

legend {
	background-color: #007297;
	color:#FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #191919;
	padding: 8px 0px 8px 0px;
		
}
/*End Form*/

/* Start Nav Menu - Nav Menu CSS based off of tutorial at http://multimedia.journalism.berkeley.edu/tutorials/css-layout/nav-menu/*/
nav {
  background-color:#007297;
  height:40px;
}
 
 
nav ul {	
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
}
 
nav li ul { 
  display: none; 
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background: #007297;
  color: #FFFFFF;  
  margin-left: 1px;
  white-space: nowrap;
  height:30px; /* Width and height of top-level nav items */
  width:90px;
  text-align:center;
 
}
 
nav ul li a:hover { 
  background: #3DC6F4; 
  color: #191919;
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}
 
nav li:hover li {
  float: none;
  font-size: 11px;
 
}
 
nav li:hover a { 
  background: #191919; 
  height:30px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: #3DC6F4;
  color: #191919;
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}

nav form {
  float:right;
  text-align:right;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  margin-left: 1px;
  white-space: nowrap;
  height:30px; /* Width and height of top-level nav items */
}
 
/* End Nav Menu */

/* Start Table - Table CSS based off of an example from http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ */
#table-a {
  font-size: 12px;
  margin: 0px auto;
  margin-top: 8px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

#table-a caption {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #004A62;
  border-bottom: 2px solid #191919;
  color: #FFFFFF;
}

#table-a th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #007297;
  border-bottom: 2px solid #191919;
  text-align: left;
  color: #FFFFFF;
}

#table-a td {
  padding: 8px;
  background: #00ACE9; 
  border-bottom: 2px solid #191919;
  color: #191919;
  border-top: 1px solid transparent;
}

#table-a tr:hover td {
  background: #191919;
  color: #FFFFFF;
}
/* End Table */

.error{
    color:red;
}